<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品一覧（テスト）</title>
    <script src="/javascript/test.js"></script>
</head>
<body>
    <h1>テスト通信行います</h1>
    <div id="product-add">
    <label>商品名 </label><input type="text" name="productName" id="productNameInput"><br>
    <labeL>値段 </labeL><input type="text" name="productPrice" id="productPriceInput"><br>
    <button type="button" id="addButton">追加</button>
    </div>
    <div id="table-userlist">
    </div>
</body>
</html>